*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background: url(images/20231025_102308.jpg) no-repeat center;
    background-size: cover;
    /*height: 100%;
    width: 100%;*/
    background-attachment: fixed;
}
