*{
    padding: 0;
    margin: 0;
}
body{
    background: white 
}

.logo img{
    margin-left: 60px;
    padding-top: 40px;
    height: 5rem;  
    
}

.separator{
    margin-top: 5px;
    border-top: 1px solid #ccc;
    width: 100%;
}
.navbar {
   color: black;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   margin-left: 5%;
   gap: 30px;
   font-size: 25px;
   margin-top: 2%;
}
.navbar a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}
.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: -10px;
}
.slidetext{
    background-color: rgb(11, 63, 97);
    color:#fff;
    width: 100%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    margin: 0%;
}

.btn{
    background-color: rgb(0, 166, 255);
    color: #fff;
    font-weight: 400;
    padding: 15px ;
    border-radius: 5px;
}
.mycart{
    font-size: 25px;
    font-weight: 500;
    color: rgb(0, 166, 255) ;
    margin-right: 4%;
    margin-top: 5%;
}
.our{
    font-weight: bolder;
    color: black;
}

.background-container {
    position: relative; 
    width: 100%; 
}

.background-image{
    background-image: url('./images/Buy_Cheap_Eyeglasses_in_Africa_with_Lapaire_Glasses.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
   
}
.overlay-text{
    position: absolute;
    top: 42%;
    left: 8%;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    
}

.overlay-text h2{
    margin-top: 50px;
    font-size: 1.7em;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
}
.overlay-text h3{
    margin-top: 10px;
    font-size: 3em;
    font-weight: bold;
}

.overlay-text p {
    margin-top: 10px;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
}
.btn2{
    background-color: rgb(0, 166, 255);
    color: #fff;
    font-size: larger;
    font-weight: 400;
    padding: 10px 20px ;
    border-radius: 5px;
    margin-top: 60px;
    display: inline-block;
}
footer{
    background-color: rgb(58, 95, 117);
    height: 500px;
}
footer p{
    color: #fff;
    justify-content: end;
}

